<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de gestion de recettes</title>
</head>
<body>
    <h1>Accueil</h1>
    <nav>
        <ul>
            <li><a href="/utilisateurs/inscription">Inscription</a></li>
            <li><a href="/utilisateurs/connexion">Connexion</a></li>
            <li><a href="/recettes">Voir les Recettes</a></li>
            <li><a href="/recettes/ajouter">Ajouter une Recette</a></li>
            <li><a href="/categorie">Catégories de Recettes</a></li>
            <li><a href="/ingredients">Gestion des ingrédients</a></li>
        </ul>
    </nav>
    <a href="/">Accueil</a>
</body>
</html>