<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégories de Recette</title>
</head>
<body>
    <h2>Catégories de Recette</h2>

    
    <a href="/">Accueil</a>
</body>
</html>